body
{
  background-color: lightblue;
}

p.nowa_klasa
{
  font-family: "Century Gothic";
  letter-spacing: normal;
  background-color: green;
  border-radius: 5px;
  color: red;
  transition: letter-spacing 1.5s, color 0.75s;
}

p.nowa_klasa:hover
{
  letter-spacing: 5px;
  color: white;
}

.tabela_a th, .tabela_a td
{
  color: red;
  font-style: italic;
  transform-origin: left center;
  transform: rotate(0deg);
  transition: transform 2s;
}

.tabela_a th:hover, .tabela_a td:hover
{
  transform: rotate(720deg);
}

.tabela_b th, .tabela_b td
{
  color: blue;
  transform: translateX(0px);
  animation-name: wziuu;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
.tabela_b th:hover, .tabela_b td:hover
{
  animation-play-state: running;
}
@keyframes wziuu
{
  to
  {
    transform: translateX(3000px);
    color: yellow;
  }
}

.slajdB-powloka
{
  margin: auto;
  width: 50%;
  /* overflow: hidden;*/
  border: 5px solid black;
}

.slajdB
{
  display: flex;
  width: 100%;
  height: 600px;
}
