body
{
  background-color: lightblue;
}

p.nowa_klasa
{
  font-family: "Century Gothic";
  letter-spacing: normal;
  background-color: green;
  border-radius: 5px;
  color: red;
  transition: letter-spacing 1.5s;
}

p.nowa_klasa:hover
{
  letter-spacing: 5px;
}

.tabela_a th, .tabela_a td
{
  color: red;
  font-style: italic;
  transform: rotate(0deg);
  transition: transform 2s;
}

.tabela_a th:hover, .tabela_a td:hover
{
  transform: rotate(720deg);
}
