body
{
  background-color: white;
}

p.nowa_klasa
{
  font-family: "Century Gothic";
  letter-spacing: normal;
  background-color: green;
  color: red;
  transition: letter-spacing 0.5s;
}

p.nowa_klasa:hover
{
  letter-spacing: 5px;
}

.tabela_a > th,td
{
  color: blue;
  font-weight: cursive;
}
